<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="My_Practice">
  <test thread-count="5" name="TestDemo1">
    <classes>
		
      <class name="test.Example1"></class>
      
      <class name="test.Example2">
		  
		  
	  </class>
          
    </classes>
  </test>
  
  	<test name="TestDemo2">
		  
		  <classes>
			  <class name="test.Example3">
				  <methods>
					  <include name="Facebook.*"></include>
				  </methods>
				
			  </class>
			  
		  </classes>
	  </test>
</suite> 
